.cell {
    height: 5px;
    width: 5px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: grey;
}

.col {
    height: 5px;
    display: inline-table;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.alive {
    background-color: black;
}

.btn {
    float: right;
}

.info {
    float: right;
}
